#about {
  background: #1f1f1f;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-container {
  display: flex;
  flex-direction: column; /* Cambia a columna para mantener la responsividad */
  align-items: center;
  gap: 2rem;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto; /* Centra el contenido */
}

.about-image img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.about-details {
  color: var(--text-color);
  text-align: center; /* Alinea al centro para dispositivos móviles */
}

.about-details h2 {
  color: var(--primary-color);
  margin-bottom: 0.5rem;
  text-align: center; /* Alinea al centro para dispositivos móviles */
}

.about-details h3 {
  color: var(--secondary-color);
  margin-top: 1rem;
  text-align: center; /* Alinea al centro para dispositivos móviles */
}

.skills {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}

.skills li {
  background: #2a2a2a;
  border: 1px solid #333;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
  flex: 0 1 calc(50% - 1rem);
  margin-bottom: 0.5rem;
}

@media (min-width: 807px) {
  .skills li {
    flex: 0 1 calc(33.33% - 1rem);
  }
}
