.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.project {
  background: #1f1f1f;
  border: 1px solid #333;
  padding: 1rem;
  border-radius: 5px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.project h3 {
  color: var(--secondary-color);
}

.project:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
