.project-list {
  display: grid;
  gap: 2rem;
}

.project {
  background: #2a2a2a;
  padding: 1rem;
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.project:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project h3 {
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}

.project p {
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

.project a {
  color: var(--secondary-color);
}

.project-content {
  display: flex;
  align-items: center;
}

.project-image {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
  transition: transform 0.3s;
}

.project-image:hover {
  transform: scale(1.2);
}

@media (min-width: 850px) {
  .project-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
